.articles-container {
  min-width: 100%;
  min-height: 100vh;
  padding: 8% 3%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 20px;
}

.news-container {
  grid-column: 3 / -1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-container .news {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 150px;
  height: 600px;
  flex: 1 1 320px;
  margin: 10px;
  border: 1px solid rgba(225, 225, 225, 0.5);
  transition: all 0.5s;
}

.news-container .news:hover {
  box-shadow: -3px 5px 8px rgba(62, 61, 61, 0.5);
  transform: scale(1.02);
}

.news-container .news .image-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 4% 3%;
  font-weight: bold;
  background-color: var(--brand-third-color);
}

.news-container .news .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.news-container .news .image-container img {
  width: 100%;
  height: auto;
}

.news-container .news .image-description small {
  opacity: 0.7;
}