.aboutUS {
  padding: 130px 200px;
  text-align: center;
  color: var(--brand-text);
}

.aboutUS h1 {
  margin-bottom: 12px;
  font-size: 36px;
  color: var(--brand-text);
}

.aboutUS p {
  font-size: 24px;
  color: var(--brand-text);
}

/* media queries*/

@media (max-width: 768px) {
  .aboutUS {
    padding: 78px 16px;
  }
  .aboutUS p { 
    font-size: 18px;
  }
}