.howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 98px;
  background-color: var(--brand-beige);
}

.howItWorks-title {
  margin-bottom: 52px;
}

.howItWorks h1 {
  color: var(--brand-text);
}

.howItWorks p {
  color: var(--brand-text);
  font-size: 16px;
  text-align: center;
}

.howItWorks-container {
  display: flex;
  gap: 101px;
}

.howItWorks-container h1 {
  color: black;
  -webkit-text-fill-color: var(--brand-beige);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 4.5rem;
}

.rice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* media queries */

@media screen and (max-width: 1024px) {
  .howItWorks {
    padding: 74px 16px;
  }

  .howItWorks-title {
    text-align: center;
  }

  .howItWorks-container {
    flex-direction: column;
    gap: 5rem;
  }
}