.container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.player {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
/*   min-height: 100vh;
  height: 100%; */
  object-fit: contain;
}