.status {
  width: 100%;
  min-height: 100vh;
  padding: 8% 3%;
  background-color: var(--brand-secondary-color);
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 20px;
}

.status-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 3 / -1;
  font-size: 22px;
}

.status-description small {
  font-weight: bold;
}