footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: var(--brand-primary-color);
  transition: all 0.5s;
}

footer:hover {
  box-shadow: -3px 5px 8px rgba(62, 61, 61, 0.5);
}

.footer-socialNetwork {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-right: 2px solid var(--brand-secondary-color);
}

.footer-socialNetwork img {
  width: 50px;
  height: 50px;
}

.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 0 21px;
}

.footer-legal div {
  display: flex;
}

.footer-legal div p:last-child {
  margin-left: 5px;
  font-weight: bold;
}