.footer {
  width: 100%;
  background-color: var(--brand-blue);
  padding: 92px 60px 39px 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-sections-container {
  padding-bottom: 85px;
  border-bottom: 1px solid var(--brand-text-white);
}

.footer h6 {
  margin-bottom: 26px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--brand-text-white);
}

.footer small {
  font-size: 14px;
  font-weight: 400;
  color: var(--brand-text-white);
}

.footer-info {
  display: flex;
  gap: 100px;
}

.footer-info--secondPart {
  display: flex;
  gap: 100px;
}

.footer-menu {
  display: flex;
  gap: 32px;
}

.footer-menu ul a {
  font-size: 14px;
  color: var(--brand-text-white);
}

.rights {
  margin-top: 39px;
  text-align: center;
}

.rights-terms {
  color: var(--brand-text-white);
  text-decoration: underline;
  cursor: pointer;
}

/* media queries */

@media (max-width: 768px) {
  .footer {
    padding: 44px 16px;
  }
  .footer-info {
    flex-direction: column;
    gap: 40px;
  }
  .footer-info--secondPart {
    gap: 60px;
  }
}