.reason {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 52px 0;
  background-color: var(--brand-blue)
}

.reason h1, p {
  color: var(--brand-text-white);
}

.reason p {
  font-size: 1.1rem;
}

.title {
  margin-right: 2.5rem;
  padding: 2.5rem 2.5rem 2.5rem 0;
  border-right: 1px solid var(--brand-text-white);
}

/* media queries */

@media (max-width: 768px) {
  .reason {
    flex-direction: column;
    text-align: center;
    padding: 54px 16px;
  }
  .title {
    border: none;
    margin: 0 0 40px 0;
    padding: 0;
  }
}


