.donations-container {
  width: 100%;
  min-height: 100vh;
  padding: 8% 3%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 20px;
}

.donations-content {
  grid-column: 3 / -1;
}

.donations-content .paragraph {
  margin: 2em 0;
  font-size: 2em;
  line-height: 1.5;
}

.donations-content .paragraph .hashtag {
  width: 0;
  float: none;
  font-weight: bold;
}

.donations-content h1 {
  font-size: 7em;
  border-bottom: 3px solid black;
}

.donations-content ul div{
  display: flex;
  margin: 2em 1em;
  font-size: 1.5em;
}

.donations-content ul div p{
  margin-right: 2em;
  font-weight: bold;
}