* {
  box-sizing: border-box;
}

:root {
  --brand-primary-color: #FEFBF3;
  --brand-secondary-color: #213C5C;
  --brand-third-color: #BCB9AA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  text-align: center;
  border: none;
  outline: none;
}

p {
  margin: 0;
}

.LARGE-TEXT {
  font-size: 4em;
  font-weight: bold;
}

.btn {
  width: 320px;
  height: 74px;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--brand-secondary-color);
  color: white;
  cursor: pointer;
}

.base_line {
  width: 100%;
  height: 2px;
  margin-top: 16px;
}

.small-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-weight: bold;
}

.line {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 22px;
  background-color: black;
}

.line::after {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 50%;
  height: 2px;
  margin-top: 25px;
  background-color: black;
}

.line-white {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 22px;
  background-color: white;
}

.line-white::after {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 50%;
  height: 2px;
  margin-top: 25px;
  background-color: white;
}

.main-description-header {
  position: relative;
  max-width: 100vw;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  background-image: url('https://i.imgur.com/1uAmM8M.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}

.introduction-description-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: 100%;
  padding: 8% 50px;
}