* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sifonn';
  src: url('./fonts/SIFONN_BASIC.otf');
  font-style: normal;
}
@font-face {
  font-family: 'Glacial-bold';
  src: url('./fonts/GlacialIndifference-Bold.otf');
  font-style: normal;
}
@font-face {
  font-family: 'Glacial-regular';
  src: url('./fonts/GlacialIndifference-Regular.otf');
  font-style: normal;
}

:root {
  --brand-blue: #1C3C59;
  --brand-text: #283028;
  --brand-beige: #F9F5E8;
  --brand-text-white: #FFFCF9;
  --brand-third-color: #a99c8c;
}

body {
  font-family: 'Glacial-regular';
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Sifonn';
  color: var(--brand-blue);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  text-align: center;
  border: none;
  outline: none;
  font-family: 'Glacial-regular';
  cursor: pointer;
}

p {
  margin: 0;
  font-family: 'Glacial-regular';
}

b {
  margin: 0;
}

figure {
  margin: 0;
}
