.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5rem 0;
}

.metrics-title {
  margin-bottom: 2rem;
}

.metrics h1 {
  color: var(--brand-text);
}

.metrics p {
  color: var(--brand-text);
  font-size: 18px;
}

.metrics-container {
  display: flex;
  gap: 10rem;
}

.metrics-container h1 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 4.5rem;
}

.rice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* media queries */

@media screen and (max-width: 1024px) {
  .metrics {
    padding: 74px 16px;
  }
  .metrics-title {
    text-align: center;
  }
  .metrics-container {
    flex-direction: column;
    gap: 5rem;
  }
}